* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
  /* 150% of font-size */
}

.r-btn {
  padding: 5px 20px;
  background-color: #3E64FF !important;
  color: #fff !important;
}

::selection {
  background-color: #3E64FF;
  color: #fff;
  /* text-shadow: 4px 2px 2px #FFFD3A; */
}

.r-p {
  padding-top: 80px;
  padding-bottom: 80px;
}
.content-mg {
  margin: 10px 0;
}
.content-box * + * {
  margin: 20px 0;
}
.bg-sec {
  background: #f8f9fa;
}
.title-box {
  max-width: 600px;
  text-align: center;
}

/* Preloader */
.preloader{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: red;
  z-index: 99998;
}

.preloader:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #000;
  transition: 1s;
}
.preloader:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: #000;
  transition: 1s;
}

.preloader.complete:before {
  bottom: -50%;
}
.preloader.complete:after {
  top: -50%;
}

.preloader.complete {
  visibility: hidden;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-top: 10px solid #5EDFFF;
  animation: animate 1.5s infinite linear;
  z-index: 99999;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Navigation---------------------------------------------------------------------------- */
nav .navbar-brand {
  font-size: 30px;
  color: #fff;
  transition: 0.5s all;
}
nav .navbar-nav li {
  margin-left: 15px;
}
nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
nav.r-nav {
  background: transparent;
  padding: 20px 0px;
  transition: 0.5s all;
}

nav.r-nav.stickyadd {
  background: #5EDFFF !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}
nav.stickyadd .navbar-brand {
  color: #000;
  font-size: 40px;
  transition: 0.5s all;
}
nav.stickyadd .navbar-nav .nav-link {
  color: #000 !important;
}
.navbar .hamburger {
  color: #fff;
}
nav.stickyadd .hamburger {
  color: #000;
}

nav *,
header * {
  animation-delay: 0.5s;
}

/* ---------- */

/* Header -----------------------------------------------------------------------*/
header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/jdg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-box {
  max-width: 700px;
  color: #fff;
}
.content-box h4 {
  font-size: 30px;
}
.content-box h1 {
  font-size: 52px;
}
.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
}
.content-box p {
  color: #fff;
}
.content-box a:hover {
  color: #000;
  background: #5EDFFF;
  transition: 0.5s all;
}

/* About Us */

.about li a {
  color: #000;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #d4d4d4;
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}

.about li a:hover {
  color: #3E64FF;
}

/* Experience ---------------------------------------------------------*/
.experience .progress {
  height: 10px;
  border-radius: 20px;
  font-size: 10px;
  height: 18px;
}

.progress-color {
  background-color: #3E64FF !important;
}
.experience label {
  font-size: 20px;
  margin: 10px;
}


/* Testimony */

.testimony .test-item {
  max-width: 500px;
  margin: 50px auto;
  background: #ECFCFF;
}
.testimony .test-item .test-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.testimony .test-item i {
  color: #3E64FF;
}

.test-item p.test-name {
  font-size: 15px;
}

/* Work */
/* .work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.work img:hover {
  border: 3px solid #3E64FF;
  /* color: #5EDFFF; */
  /* transition: 0.5s all; */
} */

/* Contact */
.contact .r-icon {
  font-size: 50px;
  text-align: center;
}

/* footer */
footer {
  height: 200px;
  background-color: transparent;
}
footer .r-icon a {
  font-size: 20px;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
footer .r-icon a:hover {
  border: 1px solid #eee;
  color: #5EDFFF;
  transition: 0.5s all;
}
/* Media-------------------------------------------------------------------------------- */
@media (min-width: 200px) and (max-width: 768px) {
  .r-nav {
    background: #3E64FF !important;
  }
  .r-nav .container {
    width: 85%;
  }
  nav .navbar-brand {
    font-size: 30px;
    color: #000;
  }
  .navbar .hamburger {
    color: #000;
  }
  nav .navbar-nav .nav-link {
    color: #000 !important;
  }

  .content-box h1 {
    font-size: 30px;
  }
  .content-box p {
    font-size: 16px;
  }
  header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/jdg.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: -700px 0;
  }
}


.myaccordion {
  margin: 0 auto;
  -webkit-box-shadow: 0px 15px 21px -8px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 15px 21px -8px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 15px 21px -8px rgba(0, 0, 0, 0.14);
  border: none;
  background: #fff; }

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
  background: transparent; }

.myaccordion .card-header {
  border-bottom-color: #fff;
  background: transparent; }

.myaccordion .fa {
  font-size: 24px; }

.myaccordion .btn {
  width: 100%;
  font-weight: normal;
  color: #000;
  padding: 0;
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 20px; }

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none; }



      .card {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        margin-top:10px;
        margin-bottom:10px;
        background-color:#FFF;
      }
      
      .card:hover {
        box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
      .card > .card-inner {
        padding:10px;
      }
      .card .header h2, h3 {
        margin-bottom: 0px;
        margin-top:0px;
      }
      .card .header {
        margin-bottom:5px;
      }
      .card img{
        width:100%;
      }